@charset "utf-8";
Lists {

}
text box {
}
box {
    width:100%;
	height: 100px;
    padding:0;
    margin:0;
}

div {

}   

.MainTitle {
	position: relative;
    font-family: antic; 
    font-style: normal; 
    font-weight: 500; 
    text-align: center; 
    font-size: 50px; 
    padding-bottom: 0px; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px;
}

.SubTitle {
    text-align: center; 
    margin-top: 0px;
}


.SigmaChallengeTotal {
    position:absolute;
    left:0%;
    font-weight:bold;
    padding-left:10px;
}

.PhiChallengeTotal {
position:aboslut;
    font-weight:bold;
}

.EpsilonChallengeTotal {
    position:absolute;
    right:0%;
    text-align:right;
    font-weight:bold;
    padding-right:10px;
}

.table {
    display:table;
    width:90%;
    margin-left:auto; 
    margin-right:auto;
}
.tr {
    display:table-row;
}

.tr div {
    font-weight:bold;
    text-align:center;
}
.d1 {
    display:table-cell;
}
.d2 {
    display:table-cell;
    text-align:center;
}
.d3 {
    display:table-cell;
    text-align:right;
}








#epsilonpoints {
text-align: left; 
float: right; 
margin-top: 0px; 
margin-bottom: 0px; 
font-size: 80px; 
padding-right: 10%;

}

#sigmapoints {
    text-align: left;
    float: left; 
    margin-top: 0px; 
    margin-bottom: 0px; 
    font-size: 80px; 
    padding-left: 10%; 
}

#phipoints {
    text-align: center; 
    float: none; 
    margin-top: 0px; 
    margin-bottom: 0px; 
    font-size: 80px;
}

.centerButton {
    text-align: center;

}

.adjustRight {
    right: 50px;

}





@media (width:200px){
.TextBox {
	position: static;
}

}
.BFetchsBox {
	text-align: center;
   width: 300px;
    height: 150px;
    line-height: 20px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #f1c40f;
    border-radius: 5px;
    text-align: center;
    z-index: 20;
    display:none;
}

.TextBox {
	text-align: center;
   width: 300px;
    height: 200px;
    line-height: 20px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #f1c40f;
    border-radius: 5px;
    text-align: center;
    z-index: 20;
    display:none;
}

.FetchBox {
	text-align: center;
   width: 800px;
    height: 400px;
    line-height: 20px;
    position: absolute;
    top: 40%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -400px;
    border-radius: 5px;
    text-align: center;
    z-index: 20;
	background-color: #f1c40f;
	overflow: auto;
    display:none;
}

.SubBox {
	text-align: center;
   	width: 500px;
    height: 430px;
    line-height: 20px;
    position: absolute;
    top: 40%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    border-radius: 5px;
    text-align: center;
    z-index: 20;
	background-color: #f1c40f;
    display:none;
}


.datatab {
	position: relative;
	left: 50px;
	height: 275px;
	background-color: #f1c40f;
	background-size: cover;
    table-layout:fixed;
}

.recentSubmissions {
    text-align: left; 
    font-family: antic; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 25px;

}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    display:none;
}

.overlayback {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

